.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}

.containerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #EDF0EC;
}

.fields a {
    text-decoration: underline;
    color: #000000;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fields input {
    width: 100%;
    padding: 7px;
    padding-left: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
}

.fields p {
    padding-top: 20px;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.names input {
    width: 46%;
}

.error {
    color: red;
    font-size: 1em;
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

.error p {
    padding: 0;
    margin: 0;
}