.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.containerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #EDF0EC;
}

.fields a {
    text-decoration: underline;
    color: #000000;
}

.fields {
    display: flex;
    flex-direction: column;

}
.fields p{
    padding-top: 20px;
}