html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    background-image: radial-gradient(circle at center right, #56E990 0%, #f5f5f5 60%);
    position: relative;
    overflow: hidden;
}


.page::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%; /* Adjust based on your design */
    height: 100%;
    background: linear-gradient(
        to bottom left,
        #245D3D 30%, transparent 30% 35%, 
        #56E990 35% 65%, transparent 65% 70%,
        #96EF89 70% 100%
    );
    z-index: 0;
}

.containerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    padding: 7px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #EDF0EC;
    z-index: 1;
    margin-bottom: 130px;
}
@media screen and (max-width: 600px) {
    .containerBox {
        margin-bottom: 0;
        width: 90%;
        
    }
    
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.names input {
    width: 46%;
}

.error {
    color: red;
    font-size: 1em;
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

.error p {
    padding: 0;
    margin: 0;
}