
.profilePicSection {
    max-width: 25vw;
    position: absolute;
    margin-top: 10vh;
    text-align: center;
    margin-left: 10%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 30%;
}


.container {
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: #f5f5f5;
    background-image: radial-gradient(circle at center right, #56E990 0%, #f5f5f5 60%);
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .container {
        /* position:fixed !important; */
        overflow: unset !important;
        height: auto !important;
    }
    .edit-form {
        flex-direction: column !important;
        margin: 0 !important;
        align-items: center !important;
    }
    .profilePicSection{
        position: unset;
        width: 90% !important;
        max-width: unset !important;
        margin-left: unset !important;
        /* margin-bottom: 5px !important; */
    }
    .profilePicSection h5{
        font-size: xx-large !important;
    }
    .names{
        margin-left: unset !important;
        width: 90% !important;
        max-width: unset !important;
        margin-bottom: 1em !important;
    }
    .names h5{
        font-size: xx-large !important;
    }
    .uploadLink{
        font-size: 2em;

    }

    
}
.profilePicContainer{
    /* padding: 10px; */
    margin: 18px;
}
.edit-form {
    display: flex;
    flex-direction: row; /* Set to row to align items side by side */
    align-items: flex-start; /* Align items to the start of the cross axis */
    gap: 20px; /* This adds spacing between the profile section and the names */
    margin: 20px; /* Add some margin to the form */
    flex-wrap: wrap;
}
.uploadLink {
    color: black;
    font-size: 1.5em;
    border-radius: 3px;
    background-color: white;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.names {
    max-width: 50vw;
    margin-top: 10vh;
    margin-left: 40%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 70%; 
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 0 2px rgba(134, 194, 50, 0.2);
}

h5 {
    margin: 5px 0;
    color: #000000;
}

.update-profile-button {
    background-color: #34a264f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-profile-button:hover {
    background-color: #000000c1;
}

/* @media (max-width: 768px) {
    .edit-profile-container {
        padding: 10px;
    }

    .names {
        flex-direction: column;
    }
} */
