.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: #f5f5f5;
    background-image: radial-gradient(circle at center right, #56E990 0%, #f5f5f5 60%);
    position: relative;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%; /* Adjust this as needed */
    height: 100%; /* Stripes will be as tall as the container */
    background: linear-gradient(
        to bottom left,
        #245D3D 30%, transparent 30% 35%, 
        #56E990 35% 65%, transparent 65% 70%,
        #96EF89 70% 100%
    );
    z-index: 0;
}
  
.leftSideContent {
    text-align: left;
    padding-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: default;
    max-width: 1400px;
}

.leftSideContent button {
    font-size: 1rem;
    padding: 10px 16px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.leftSideContent h1 {
    font-size: 5rem;
    font-weight: 800;
}

.buttonGroup {
    display: flex;
    gap: 20px;
}

/*.leftSideContent button:hover {
    
}*/

.createQuestButton {
    background-color: #34a264;
    border: 1px solid black !important;
}

.createQuestButton:hover {
    background-color: #34a264f3;
}

.dailyQuestButton {
    background-color: #96EF89;
}

.dailyQuestButton:hover {
    background-color: #ffffff;
}

.ecoGradient {
    background: linear-gradient(90deg, #245D3D 0%, #56E990 60%, #96EF89 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    color: black;

}

.textGroup {
    margin-bottom: 20px;
}

.popupText {
    padding-bottom: 13px;
}