.tableContainer {
    padding: 4rem;
    padding-top:1rem;
    width: 100%;
    max-width: 1400px;
    /* 70px for navbar, 60px for footer */
    height: calc((100vh - 70px) - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.formater {
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.table {
    width: 650px;
}

.rank {
    width: 100px;
    text-align: center !important;
    font-weight: bold !important;
}

.leaderboardHeadings{
    display: flex;
    justify-content: space-between;
    width: 90%;

}