.card{
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 19vh;
}
.container {
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: #f5f5f5;
    background-image: radial-gradient(circle at center right, #56E990 0%, #f5f5f5 60%);
    position: relative;
    overflow: hidden;
}

.BackButton {
    background-color: #f2f2f2; /* Light grey background */
    color: #333; /* Dark grey text */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 25vw; /* Spacing between buttons */
    transition: background-color 0.3s;
  }
  
  .BackButton:hover {
    background-color: #e6e6e6; /* Slightly darker on hover */
  }
  
  .UploadImg {
    background-color: #34a264f3; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1vh;
    transition: background-color 0.3s;
  }
  
  .UploadImg:hover {
    background-color: #000000d1; /* Darker green on hover */
  }