.footer {
    background-color: #ffffff00;
    padding: 20px;
    width: 70%;
    color: #000000 !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none !important;
}

.footerContainer {
    border-top: 1px solid transparent;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.footer a {
    padding: 0px;
    color: inherit;

    margin: 0px;
}

.footer p {
    padding: 0px;
    margin: 0px;
}