.button {
    border: none;
}


.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding-right: 60px;
}

.navLinks a {
    text-decoration: none;
    color: black;
    /* font-size: 10px; */
}

.mobile {
    display: none !important;
}

.menuItem {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .button {
        font-size: 0.7em !important;
    }

    .mobile {
        display: block !important;
    }

    .navLinks {
        display: none !important;
    }

    .dropdown a {
        /* display: block; */
        text-align: center;
        font-size: 0.7em !important;
        text-decoration: none;
        color: black;
        padding: 5px;
    }

    .dropbtn {
        font-size: 2em;
        border: none;
    }

}